*{
    margin: 0;
}

.app{
    height: 100vh;

    .sections{
        position: relative;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: lightsalmon;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; //firefox
        &::-webkit-scrollbar{ //chrome
            display: none;
        }

        > *{
            width: 100%         ;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }
}